body {
    padding: 0;
    margin: 0;
    width: auto;

}

.header-navigation {
    display: grid;
    grid-template-columns: 100px auto;
    margin: 20px auto 0px 10px;
}

.header-title {
    display: grid;
    grid-template-rows: min-content;
    margin: 12px 0px 12px 20px;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
}

.navigation-bar {
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 400px auto 400px;
    width: 100%;
    overflow: scroll;
}

ul {
    padding: 0;
}

li {
    display: inline;
    list-style-type: none;
    font-family: 'Figtree', sans-serif;
    margin-left: 10px;
}

a {
    align-items: center;
    text-decoration: none;

    color: black;
}

.image-container {
    min-height: 400px;
    height: 50%;

    position: relative;
    text-align: center;
}

.cover-image {
    height: 81svh;
    width: 100svw;

    min-height: 520px;

    object-fit: cover;
}

.welcome-message {
    position: absolute;
    top: 40px;
    left: 16px;
    margin: 0px;

    min-width: 380px;
    width: 60%;

    height: fit-content;
    padding-bottom: 20px;

    background-color: rgb(220, 220, 220, 70%);
}

.welcome-message-text {
    font-family: 'Lato', sans-serif;
    font-size: calc(25px + 3.5vw);
}

.solid {
    border-top: 1px solid #e0eef5;
    color: #e0eef5
}

.testimonials {
    height: calc(fit-content + 30px);
    min-height: 20svw;
    width: calc(100svw - 10x);

    display: flex;

    margin: 5px;

    overflow-x: auto;
}

.review {
    background-color: #e0eef5;

    height: 30svh;
    min-height: 250px;
    width: 20svw;
    min-width: 300px;

    overflow-y: scroll;

    padding: 15px;
    margin: 5px;
}

p {
    font-family: 'Figtree', sans-serif;
    font-size: calc(15px + 0.4vw);
    margin: 0;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.figtree-light {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.services-provided {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 350px));
    gap: 15px;
    
    width: 100%;

    justify-content: center;

    margin-top: 5vh;
}

.service {
    min-width: 200px;

    height: 30vw;
    min-height: 300px;

    padding: 15px;
    margin: 5px;

    border: gray 2px solid;

    text-align: center;

    display: grid;
    grid-template-rows: 85% 15%;
}  

.price-containor {
    width: 20vw;
    min-width: 300px;

    height: calc(25px + 3.5vw);

    display: grid;
    grid-template-columns: auto auto auto;
    
    padding-bottom: 10px;
    margin-left: 2.5vw;

    border-bottom: black 1px solid;
}

.price-column { 
    width: 33%;
}

.select-button {
    background-color: rgba(227,208,167,255);
    border: none;
    
    width: 20vw;
    
    font-family: 'Lato', sans-serif;
    font-size: calc(15px + 1vw);
    color: white;
    
    padding: 10px 0 10px 0;
}

.select-button:hover {
    cursor: pointer;

    background-color: rgb(227, 208, 167, 0.5);
}

.booking-form {
    justify-content: center;

    width: 80vw;
    margin-left: calc(10vw - 20px);

    border: 1px solid #ccc;
    padding: 20px;
}

label {
    font-family: 'Lato', sans-serif;
    font-size: calc(15px + 1vw);
}

input, select {
    font-family: 'Lato', sans-serif;

    border: 1px solid #ccc;
    padding: 12px 20px;
}

.communication-holder {
    display: grid;
    grid-template-columns: 45% auto 45%;
    margin-top: 10px;
}

.communication {
    display: grid;
    grid-template-rows: auto auto;
}

.result {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: calc(15px + 1vw);

    border: 1px solid #ccc;
    background-color: rgba(227,208,167,255);

    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 0;
    height: 0;
    margin-left: 10vw;

    visibility: hidden;
}

.footnote {
    background-color: #f7f7f7;

    display: grid;
    grid-template-columns: auto auto;

    padding: 10px;
    margin-top: 10px;
}

.location {
    font-family: 'Lato', sans-serif;
    font-size: calc(15px + 0.4vw);
    font-style: normal;
}

.gallary {
    column-count: 3;
    column-gap: 10px;
    
    margin-bottom: 30px;
}

.image {
    width: 100%;
    overflow: hidden;

    display: inline-block;
}

.image img {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
