body {
    padding: 0;
    margin: 0;
    width: auto;

}

.header-navigation {
    display: grid;
    grid-template-columns: 100px auto;
    margin: 20px auto 0px 10px;
}

.header-title {
    display: grid;
    grid-template-rows: min-content;
    margin: 12px 0px 12px 20px;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
}

.navigation-bar {
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 400px auto 400px;
    width: 100%;
    overflow: scroll;
}

ul {
    padding: 0;
}

li {
    display: inline;
    list-style-type: none;
    font-family: 'Figtree', sans-serif;
    margin-left: 10px;
}

a {
    align-items: center;
    text-decoration: none;

    color: black;
}

.image-container {
    min-height: 400px;
    height: 50%;

    position: relative;
    text-align: center;
}

.cover-image {
    height: 81svh;
    width: 100svw;

    min-height: 40svw;

    object-fit: cover;
}

.welcome-message {
    position: absolute;
    top: 40px;
    left: 16px;
    margin: 0px;

    min-width: 380px;
    width: 60%;

    height: fit-content;
    padding-bottom: 20px;

    background-color: rgb(220, 220, 220, 70%);
}

.welcome-message-text {
    font-family: 'Lato', sans-serif;
    font-size: calc(25px + 3.5vw);
}

p {
    font-family: 'Figtree', sans-serif;
    font-size: 15px;
    margin: 0;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.figtree-light {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
